@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Metal&display=swap');
.home {
    display: flex;
    flex-wrap: wrap;
}

.inFlex {
    flex: 1;
    min-width: 350px;
    min-height: 100%;
}

.inFlex:first-child{
    flex: 2;
    padding: 15px;
    background-color: white;
    margin: 20px;
    margin-bottom: 0px;
}

.inFlex div {
    background-color: white;
    margin: 20px;
}

.Ramti {
    width: 220px;
    height: 250px;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.Ramti:hover {
    transform: scale(1.5);
}

.Rama {
    width: 140px;
    height: 120px;
    border-radius: 10px;
    transition: 0.5s;
}

.Rama:hover {
    transform: scale(1.8);
}

.Imgram {
    text-align: center;
}

.ramti {
    text-align: center;
}

.titulo {
    font-family: 'Metal', cursive;
    font-size: 30px;
    text-align: center;
    color: #00629B;
}

.texto {
    text-align: center;
}

.redes {
    text-align: center;
    background-color: rgb(185, 185, 255);
    border-top: 3px solid black;
}

.imgredes {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: 0.5s;
}

.imgredes:hover {
    transform: scale(1.8);
    border: 1px solid rgb(255, 255, 255);
}

.cabecera {
    text-align: center;
    background-color: rgb(185, 185, 255);
    border-bottom: 3px solid black;

    
}

.cabecera h1 {
    display: inline-block;
    padding: 10px;
   
}

.logo {
    width: 100px;
    margin:5px;
   
}

.lista {
    list-style: none;
}

a {
    text-decoration: none;
}

.texto {
    font-family: 'Arima Madurai', cursive;
    font-size: 30px;
}

h3 {
    margin: 10px;
}
